.structure {
  width: 960px;
  margin: 0 auto;
}

#game-container {
  width: 800px;
  height: 600px;
  margin: 0 auto;
}

#cat-container {
  display: -moz-box;
  display: -webkit-box;
  display: -ms-box;
  display: box;
}
#cat-selection .cat {
  width: 200px;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
}
#cat-selection .cat.selected {
  background: green;
}

#canvas {
  width: 800px;
  height: 600px;
  display: none;
}
