@import compass/css3

@import boilerplate

.structure 
  width: 960px
  margin: 0 auto

#game-container
  width: 800px
  height: 800px
  margin: 0 auto

#cat-selection
  @include display-box
  .cat
    width: 200px
    @include box-flex(1)
    &.selected
      background: green

#canvas
  width: 800px
  height: 800px
  display: none

